.button{
    height: 28px;
    width: 132px;
    border-radius: 6px;
    border-width: 0px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;

}
.green{
    color: #ffffff;
    background-color: rgb(18, 211, 18);

}
.blue{
    color: #ffffff;
    background-color: rgb(44, 44, 223);
}
.orange{
    color: #ffffff;
    background-color: rgb(238, 216, 14);

}